spring:
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
  sql:
    init:
      platform: postgres
  jpa:
    database: postgresql
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
      ddl-auto: update # this can be create, create-drop, validate, update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  datasource:
    url: jdbc:postgresql://localhost:5432/petstore
    username: admin
    password: admin
    driverClassName: org.postgresql.Driver
server:
  port: 9980
# pogledaj https://github.com/OKaluzny/spring-boot-rest-api-postgresql/blob/master/src/main/resources/application.yml
# i ovo https://developer.okta.com/blog/2018/12/13/build-basic-app-spring-boot-jpa